*
{
   background-color: rgb(190, 187, 174); 
}
 h1{
    color: darkred;
    text-decoration: underline;
    text-align-last: center;
    font-style: italic;
    font-size: xx-large;
 }
 #one
 {
   text-align-last: center;
   font-style: italic;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-variant: small-caps;
   font-size: larger;
 }
 table, th, td {
   border: 5px solid black;
   border-collapse:collapse;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-style: italic;
 }
 h3{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: x-large;
   color: chocolate;
 }
 #fe
 {
   font-size: x-large;
   color:firebrick;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 #see
 {
   font-family: 'Courier New', Courier, monospace;
   color:darkred;
 }